# Environment setting / Áí∞Â¢ÉË®≠ÂÆö
Data Description / Ë≥áÊñôÊèèËø∞

In [1]:
import os
import sys
from pathlib import Path

# Ëá™ÂãïËºâÂÖ• utils / Auto-load utils
if "COLAB_GPU" in os.environ:
    url = "https://raw.githubusercontent.com/nics-tw/petsard/main/demo/utils.py"
    exec(open(url).read())
else:
    # ÈùúÈªòÊêúÂ∞ã utils.py / Silent search for utils.py
    current = Path.cwd()
    for _ in range(5):
        if (current / "utils.py").exists():
            sys.path.insert(0, str(current))
            break
        current = current.parent

    # ÂåØÂÖ• utils Ê®°ÁµÑ / Import utils module
    from utils import quick_setup

# Âø´ÈÄüË®≠ÂÆö / Quick setup
is_colab, branch, yaml_path = quick_setup(
    yaml_file="data-description.yaml",
    benchmark_data=[
        "adult-income",
    ],
    branch="main",  # ÂèØÈÅ∏ÔºåÈ†êË®≠ÁÇ∫ "main"
)

from petsard import Executor

üöÄ PETsARD v1.5.1
üìÖ 2025-07-31 13:33:16 UTC+8
üìÅ Subfolder: tutorial/use-cases
üìÑ YAML path: petsard/demo/tutorial/use-cases/data-description.yaml
‚öôÔ∏è Configuration content:
---
Loader:
  data:
    filepath: 'benchmark/adult-income.csv'
Describer:
  summary:
    method: 'default'
Reporter:
  save_report_global:
    method: 'save_report'
    granularity: 'global'
  save_report_columnwise:
    method: 'save_report'
    granularity: 'columnwise'
  save_report_pairwise:
    method: 'save_report'
    granularity: 'pairwise'
...

# Execution and Result / Âü∑Ë°åËàáÁµêÊûú

In [2]:
exec_case = Executor(config=yaml_path)
exec_case.run()

Now is petsard[Report]_[global] save to csv...
Now is petsard[Report]_[columnwise] save to csv...
Now is petsard[Report]_[pairwise] save to csv...

In [3]:
exec_case.get_result()["Loader[data]_Describer[summary]_Reporter[save_report_global]"][
    "[global]"
]

,full_expt_name,Loader,Describer,summary_row_count,summary_col_count,summary_na_count
0,Loader[data]_Describer[global],data,[global],48842,15,0

In [4]:
exec_case.get_result()[
    "Loader[data]_Describer[summary]_Reporter[save_report_columnwise]"
]["[columnwise]"]

,full_expt_name,Loader,Describer,column,summary_mean,summary_median,summary_std,summary_min,summary_max,summary_kurtosis,summary_skew,summary_q1,summary_q3,summary_na_count,summary_nunique
0,Loader[data]_Describer[columnwise],data,[columnwise],age,38.64,37.0,13.71,17.0,90.0,-0.18,0.56,28.0,48.0,0.0,<NA>
1,Loader[data]_Describer[columnwise],data,[columnwise],fnlwgt,189664.13,178144.5,105604.03,12285.0,1490400.0,6.06,1.44,117550.5,237642.0,0.0,<NA>
2,Loader[data]_Describer[columnwise],data,[columnwise],educational-num,10.08,10.0,2.57,1.0,16.0,0.63,-0.32,9.0,12.0,0.0,<NA>
3,Loader[data]_Describer[columnwise],data,[columnwise],capital-gain,1079.07,0.0,7452.02,0.0,99999.0,152.69,11.89,0.0,0.0,0.0,<NA>
4,Loader[data]_Describer[columnwise],data,[columnwise],capital-loss,87.50,0.0,403.00,0.0,4356.0,20.01,4.57,0.0,0.0,0.0,<NA>
5,Loader[data]_Describer[columnwise],data,[columnwise],hours-per-week,40.42,40.0,12.39,1.0,99.0,2.95,0.24,40.0,45.0,0.0,<NA>
6,Loader[data]_Describer[columnwise],data,[columnwise],workclass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,9
7,Loader[data]_Describer[columnwise],data,[columnwise],education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,16
8,Loader[data]_Describer[columnwise],data,[columnwise],marital-status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7
9,Loader[data]_Describer[columnwise],data,[columnwise],occupation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,15
10,Loader[data]_Describer[columnwise],data,[columnwise],relationship,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,6
11,Loader[data]_Describer[columnwise],data,[columnwise],race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5
12,Loader[data]_Describer[columnwise],data,[columnwise],gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2
13,Loader[data]_Describer[columnwise],data,[columnwise],native-country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,42
14,Loader[data]_Describer[columnwise],data,[columnwise],income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2

In [5]:
exec_case.get_result()[
    "Loader[data]_Describer[summary]_Reporter[save_report_pairwise]"
]["[pairwise]"]

,full_expt_name,Loader,Describer,summary_column1,summary_column2,summary_corr
0,Loader[data]_Describer[pairwise],data,[pairwise],age,age,1.000000
1,Loader[data]_Describer[pairwise],data,[pairwise],capital-gain,age,0.077229
2,Loader[data]_Describer[pairwise],data,[pairwise],capital-gain,capital-gain,1.000000
3,Loader[data]_Describer[pairwise],data,[pairwise],capital-gain,educational-num,0.125146
4,Loader[data]_Describer[pairwise],data,[pairwise],capital-gain,fnlwgt,-0.003706
5,Loader[data]_Describer[pairwise],data,[pairwise],capital-loss,age,0.056944
6,Loader[data]_Describer[pairwise],data,[pairwise],capital-loss,capital-gain,-0.031441
7,Loader[data]_Describer[pairwise],data,[pairwise],capital-loss,capital-loss,1.000000
8,Loader[data]_Describer[pairwise],data,[pairwise],capital-loss,educational-num,0.080972
9,Loader[data]_Describer[pairwise],data,[pairwise],capital-loss,fnlwgt,-0.004366
10,Loader[data]_Describer[pairwise],data,[pairwise],educational-num,age,0.030940
11,Loader[data]_Describer[pairwise],data,[pairwise],educational-num,educational-num,1.000000
12,Loader[data]_Describer[pairwise],data,[pairwise],educational-num,fnlwgt,-0.038761
13,Loader[data]_Describer[pairwise],data,[pairwise],fnlwgt,age,-0.076628
14,Loader[data]_Describer[pairwise],data,[pairwise],fnlwgt,fnlwgt,1.000000
15,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,age,0.071558
16,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,capital-gain,0.082157
17,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,capital-loss,0.054467
18,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,educational-num,0.143689
19,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,fnlwgt,-0.013519
20,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,hours-per-week,1.000000